@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PressStart2P';
  src: url('../resources/fonts/PressStart2P-Regular.ttf');
}


@font-face {
  font-family: 'FeelingPassionate';
  src: url('../resources/fonts/Feeling\ Passionate.otf');
}